<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Music Hub is a wonderful place to collect your music share it to your friends. You can follow people, People can follow you, so you can make social network here. Enjoy music.!!
</p>