<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can add me in 
  <a href="https://www.facebook.com/prabhuvignesh">FaceBook</a>.
  You can follow me @ 
  <a href="https://plus.google.com/+PrabhuVigneshRajagopal">Google+</a>.
</p>
